h1{
  font-family: Corbel;
  text-decoration: underline;
  font-weight: bold;
}

h2{
  font-family: Corbel;
}

.userEntry{
  text-align: left;
}

.form{
  padding: 20px;
  margin: auto;
}

.submit{
  padding-top: 20px;
  padding-left: 90px;
}
