<div class="textAndButton">
  <input type="text" [(ngModel)] ="title"/>
  <button (click)="validTitle(title)" >Check Title!</button>
  <p>{{validity}}</p>
</div>


<h1>Animal</h1>
<div class="div1" *ngFor='let content of userContentList | filterType: "Animal"; let last = last'
     [ngClass]="{'last-child': last}">

  <ul title="Content Items">

    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>

    <p> Type: {{content.type}}</p>
    <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>

<h1>Food</h1>
<div class="div2" *ngFor='let content of userContentList | filterType: "Food"; let last = last'
     [ngClass]="{'last-child': last}">

  <ul title="Content Items">
    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>

    <p> Type: {{content.type}}</p>
    <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>


<h1>Nature</h1>
<div class="div3" *ngFor='let content of userContentList | filterType: "Nature"; let last = last'
     [ngClass]="{'last-child': last}">

    <ul title="Content Items">
    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <span *ngFor="let tag of content.tags"><i appHoverStyle id='tags'>{{tag}}, </i> </span>


    <p> Type: {{content.type}}</p>
    <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>
    </ul>
</div>

<h1>Everything</h1>
<div class="div1" *ngFor='let content of userContentList let last = last'
     [ngClass]="{'last-child': last}">


  <ul title="Content Items">

    <h1  class="itemTitle"  appHoverStyle id="title">{{content.title}}</h1>
    <h2>{{content.author}}</h2>
    <p>{{content.body}}</p>
    Tags: <i appHoverStyle id='tags'>{{content.tags}}</i>

    <p> Type: {{content.type}}</p>
    <br>
    <img *ngIf="content.imgUrl !== ''; else imageDefault" src={{content.imgUrl}} width="250" height="250" (click)="this.idPrint(content)"/>

  </ul>


</div>

<!-- Default Image -->
<ng-template #imageDefault>
  <img src="https://images.unsplash.com/photo-1561997968-aa846c2bf255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" width="250" height="250"/>
</ng-template>

